<!DOCTYPE html>
<html>
  <head>
    <title>napster.js Sample App</title>
    <script type="text/javascript" src="/js/lib/dummy.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script type="text/javascript">
    window.onload=function(){
      var API_KEY = 'ZGE0YzMyOTYtMmMwYi00NjJmLTllZjItZGVmNmY1NDM1MjQ2';
      const tracksTemplateSource = document.getElementById('tracks-template').innerHTML;
      const tracksTemplate = Handlebars.compile(tracksTemplateSource);
      const $tracks = $('#tracks-container');
      const getTopTracks = $.get('https://api.napster.com/v2.1/tracks/top?apikey=ZGE0YzMyOTYtMmMwYi00NjJmLTllZjItZGVmNmY1NDM1MjQ2');

      getTopTracks
        .then((response) => {
            $tracks.html(tracksTemplate(response));
        });
    }

    </script>
    <style type="text/css">
        .header {
        font-size: 50px;
        text-align: center;

        }
        .track-cover {
        background-size: cover;
        width: 300px;
        height: 300px;
        display: inline-block;
        }

        .cover {
        background-size: cover;
        width: 300px;
        height: 300px;
        display: inline-block;
        margin: 10px;
        float: left;
        border: 3px solid black;
        position: relative;
        }

        .audio {
            position: absolute;
            bottom: 0;
        }
        .cover:hover {
        cursor: pointer;
        }

        .content-name{
        color: white;
        font-size: 25px;
        text-align: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        .back-button {
            /* Remove all decorations to look like normal text */
            background: none;
            border: none;
            display: inline;
            font: inherit;
            margin: 0;
            padding: 0;
            outline: none;
            outline-offset: 0;
            /* Additional styles to look like a link */
            color: blue;
            cursor: pointer;
            text-decoration: underline;
        }
        </style>
    </head>
    <body>
            <div class="container">
                    <div class="header">
                      Top Tracks
                    </div>

                    <div id="tracks-container"></div>
                  </div>

                  <script id="tracks-template" type="text/x-handlebars-template">
                    {{#each tracks}}
                    <div data-track-id="{{id}}" style="background-image:url(http://direct.rhapsody.com/imageserver/v2/albums/{{albumId}}/images/300x300.jpg)" class="cover">
                    <div class=content-name>{{name}}</div>
                    <audio controls class= "audio">
                      <source src="{{previewURL}}" type="audio/mpeg">
                    </audio>
                    </div>
                    {{/each}}
                  </script>
    </body>
</html>
